<section class="w-full p-20 max-w-[1000px] mx-auto">
<h3 class="uppercase text-center text-4xl tracking-wide font-semibold mb-10 text-balance mx-auto">SOBRE NOSOTROS</h3>
<lite-youtube class="shadow-2xl shadow-white/10 rounded-xl" videoid="u_ncsDbO4S4" videotitle="SOBRE NOSOTROS">

</lite-youtube>
</section>

<script>
import "@justinribeiro/lite-youtube"
</script>