<section class="flex flex-row w-full gap-24 p-20 max-w-[1400px] mx-auto mt-10">
  <lite-youtube
    class="shadow-2xl shadow-white/10 rounded-xl"
    videoid="u_ncsDbO4S4"
    videotitle="SOBRE NOSOTROS"
  >
  </lite-youtube>
  <div>
    <h3
      class="uppercase text-center text-3xl tracking-wide font-semibold mb-10 text-balance mt-6"
    >
      SOBRE NOSOTROS
    </h3>
    <p class="mx-auto">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore ea et
      similique odio quibusdam id quo at, quasi cum, facilis nulla alias!
      Excepturi iusto repudiandae error labore. Impedit, vero veritatis.
    </p>
  </div>
</section>

<script>
  import "@justinribeiro/lite-youtube";
</script>
