---
import BentoItem from "./BentoItem.astro";
---

<h2 class="mx-auto w-full mt-16 text-2xl font-semibold text-center">Algunos de nuestros trabajos</h2>
<section
  class="w-full max-w-[1600px] grid lg:grid-cols-8 auto-rows-[20rem] gap-12 mx-auto p-6 md:p-12 lg:p-20"
>
  <BentoItem
    class="col-span-8 lg:col-span-2"
    title="Diseño y ejecución de redes FTTH"
  >
    <div
      slot="image"
      class="absolute left-0 top-0 bottom-0 w-full h-full group-hover:scale-110 transition-scale duration-1000 ease-in-out opacity-80 bg-blend-luminosity bg-center bg-cover bg-no-repeat -z-10"
      style="background-image: url('./caja-empalme.png');"
    >
    </div>
  </BentoItem>
  <BentoItem
    class="col-span-8 lg:col-span-2"
    title="Fusiones y conectorizado de F.O."
  >
    <div
      slot="image"
      class="absolute left-0 top-0 bottom-0 w-full h-full group-hover:scale-110 transition-all duration-1000 ease-in-out opacity-80 bg-center bg-cover bg-no-repeat bg-blend-luminosity -z-10"
      style="background-image: url('./caja-empalme.png');"
    >
    </div>
  </BentoItem>
  <BentoItem
    class="col-span-8 lg:col-span-2"
    title="Instalación ODF"
  >
    <div
      slot="image"
      class="absolute left-0 top-0 bottom-0 w-full h-full group-hover:scale-110 transition-all duration-1000 ease-in-out opacity-80 bg-center bg-cover bg-no-repeat bg-blend-luminosity -z-10"
      style="background-image: url('./caja-empalme.png');"
    >
    </div>
  </BentoItem>
  <BentoItem
    class="col-span-8 lg:col-span-2"
    title="Armado de ODF, NAP, DOMO, CDO"
  >
    <div
      slot="image"
      class="absolute left-0 top-0 bottom-0 w-full h-full group-hover:scale-110 transition-all duration-1000 ease-in-out opacity-80 bg-center bg-cover bg-no-repeat bg-blend-luminosity -z-10"
      style="background-image: url('./caja-empalme.png');"
    >
    </div>
  </BentoItem>
</section>
