---
import BentoItem from "./BentoItem.astro";
---

<section
  class="w-full max-w-[1200px] grid grid-cols-10 auto-rows-[20rem] gap-4 mx-auto py-20"
>
  <BentoItem
    class="col-span-10 md:col-span-4"
    title="Titulo 1"
    subtitle="Subtitulo 1"
  >
    <div
      slot="image"
      class="absolute left-0 top-0 bottom-0 w-full h-full group-hover:scale-110 transition-scale duration-1000 ease-in-out opacity-80 bg-blend-luminosity bg-center bg-cover bg-no-repeat -z-10"
      style="background-image: url('./caja-empalme.png');"
    >
    </div>
    <p slot="content" class="max-w-xl">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim, odio. <strong
      >
        Inventore unde magnam delectus aperiam voluptatem repellendus pariatur
        tenetur.</strong
      > Incidunt omnis praesentium quo reiciendis dolorem illum exercitationem laborum
      atque in.
    </p>
  </BentoItem>
  <BentoItem
    class="col-span-10 md:col-span-6"
    title="Titulo 2"
    subtitle="Subtitulo 2"
  >
    <div
      slot="image"
      class="absolute left-0 top-0 bottom-0 w-full h-full group-hover:scale-110 transition-all duration-1000 ease-in-out opacity-80 bg-center bg-cover bg-no-repeat bg-blend-luminosity -z-10"
      style="background-image: url('./caja-empalme.png');"
    >
    </div>
  </BentoItem>
  <BentoItem
    class="col-span-10 md:col-span-6"
    title="Titulo 3"
    subtitle="Subtitulo 3"
  >
    <div
      slot="image"
      class="absolute left-0 top-0 bottom-0 w-full h-full group-hover:scale-110 transition-all duration-1000 ease-in-out opacity-80 bg-center bg-cover bg-no-repeat bg-blend-luminosity -z-10"
      style="background-image: url('./caja-empalme.png');"
    >
    </div>
  </BentoItem>
  <BentoItem
    class="col-span-10 md:col-span-4"
    title="Titulo 4"
    subtitle="Subtitulo 4"
  >
    <div
      slot="image"
      class="absolute left-0 top-0 bottom-0 w-full h-full group-hover:scale-110 transition-all duration-1000 ease-in-out opacity-80 bg-center bg-cover bg-no-repeat bg-blend-luminosity -z-10"
      style="background-image: url('./caja-empalme.png');"
    >
    </div>
  </BentoItem>
</section>
