<div class="w-full relative mt-10">
    <div class="absolute top-10 z-10 left-1/2 right-1/2 mx-auto">
        <h3 class="text-3xl text-white">Titulo</h3>
        <h4 class="text-2xl text-white">Subtitulo</h4>
    </div>
    <img class="w-full h-36 object-cover" src="/flyer.png" alt="#">
</div>