<div class="w-full relative">
  <div
    class="absolute top-52 z-10 left-0 right-0 mx-36"
  >
    <h1 class="font-semibold text-white text-3xl mb-8 w-1/3">LA CONECTIVIDAD ESTÁ A UN SOLO PASO</h1>
    <a
      href="#"
      class="border rounded-full inline-block text-white border-white px-4 py-2 justify-self-end hover:bg-white hover:text-black duration-300"
      >CONTACTANOS</a
    >
  </div>
  <!-- <video
    class="w-full max-h-[700px] object-cover animate-fade animate-duration-1000 animate-ease-in-out"
    src="/video.mp4"
    autoplay
    muted
    loop
    style="clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%)"></video> -->
    <img class="w-full max-h-[700px] portada object-cover animate-fade animate-duration-1000 animate-ease-in-out" src="/portada.jpg" alt="" style="clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%)">
</div>
