<div class="my-10 mx-10 mt-20">
    <h1 class="text-3xl font-semibold text-center text-wrap mx-auto mb-10 tracking-wide">Contactanos</h1>
    <form class="flex flex-col gap-4 w-1/4 mx-auto my-10 mb-24" action="submit">
        <label class="block" for="nombre">Nombre</label>
        <input type="text">
        <label class="block" for="email">Email</label>
        <input type="email">
        <label for="asunto">Asunto</label>
        <input type="text">
        <label for="mensaje">Mensaje</label>
        <input type="text">
        <button type="submit" class="border rounded-full inline-block border-black px-4 py-2 justify-self-end hover:bg-gray-200 hover:text-black duration-300 mt-8">Enviar</button>
    </form>
</div>