<div class="my-10 mx-10">
    <form action="">
        <label for="nombre">Nombre</label>
        <input type="text">
        <label for="email">Email</label>
        <input type="email">
        <label for="asunto">Asunto</label>
        <input type="text">
        <label for="mensaje">Mensaje</label>
        <input type="text">
    </form>
</div>