<div class="overflow-hidden w-full relative">
  <div class="flex items-center gap-8 animate-scroll mb-10">
    <img class="w-32 h-32 object-cover rounded-lg" src="/logo.png" alt="Logo 1" />
    <img class="w-32 h-32 object-cover rounded-lg" src="/logo.png" alt="Logo 2" />
    <img class="w-32 h-32 object-cover rounded-lg" src="/logo.png" alt="Logo 3" />
    <img class="w-32 h-32 object-cover rounded-lg" src="/logo.png" alt="Logo 4" />
    <img class="w-32 h-32 object-cover rounded-lg" src="/logo.png" alt="Logo 1" />
    <img class="w-32 h-32 object-cover rounded-lg" src="/logo.png" alt="Logo 2" />
    <img class="w-32 h-32 object-cover rounded-lg" src="/logo.png" alt="Logo 3" />
    <img class="w-32 h-32 object-cover rounded-lg" src="/logo.png" alt="Logo 4" />
    <img class="w-32 h-32 object-cover rounded-lg" src="/logo.png" alt="Logo 4" />
    <img class="w-32 h-32 object-cover rounded-lg" src="/logo.png" alt="Logo 4" />
    <img class="w-32 h-32 object-cover rounded-lg" src="/logo.png" alt="Logo 4" />
    <img class="w-32 h-32 object-cover rounded-lg" src="/logo.png" alt="Logo 4" />
    <img class="w-32 h-32 object-cover rounded-lg" src="/logo.png" alt="Logo 4" />
  </div>
</div>
