<div class="w-full relative">
  <div
    class="absolute top-80 z-10 left-0 right-0 mx-auto text-center"
  >
    <h1 class="font-semibold text-4xl mb-4 ">LA CONECTIVIDAD ESTÁ A UN SOLO PASO</h1>
    <h2 class="text-2xl mb-4">Vemos un futuro donde nuestro liderazgo en tecnologías <br/> de fibra óptica impulsa el crecimiento de nuestros clientes.</h2>
    <button class="p-3 border border-black rounded-full">Contactanos</button>
  </div>
  <video
    class="w-full max-h-[700px] object-cover animate-fade animate-duration-1000 animate-ease-in-out"
    src="/video.mp4"
    autoplay
    muted
    loop
    style="clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%)"></video>
</div>
