<div class="w-full relative">
  <div
    class="absolute top-80 z-10 w-[800px] left-0 right-0 mx-auto text-center"
  >
    <h1>Praxis Telecomunicaciones</h1>
    <h2>La conectividad está a un solo paso</h2>
    <button>Contactanos</button>
  </div>
  <video
    class="w-full h-screen object-cover animate-fade animate-duration-1000 animate-ease-in-out"
    src="/video.mp4"
    autoplay
    muted
    loop
    style="clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%)"></video>
</div>
